@import '../../styles/style.scss';

.buttonLayout {
    padding: 0.5625rem 1.25rem;
    border: 0.5px solid $darkBorder;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.375rem;
    min-width: 7.5rem;
    cursor: pointer;
    &.neutral {
        background-color: $neutralBtnColor;
        &:hover {
            background-color: $neutralBtnColorHover;
        }
    }
    &.primary {
        border-color: transparent;
        color: $whiteColor;
        background-color: $primaryBtnColor;
        &:hover {
            background-color: $primaryBtnColorHover;
        }
    }
}
