//@@@@@@@@@@colors@@@@@@@@@@@@@@@@@@@@@@@

$icon-color: #5f6368;
$primaryText: #202124;
$secondaryText: #3c4043;
$backgroundheaderfooterColor: #01acc1;
$backgroundhovering: #ffffff14;
$whiteColor: #fff;
$linkBackgroundColorHover: $backgroundheaderfooterColor;
$linklabelColorHover: $whiteColor;
$formBackgroundColor: #e5f6f8;

// $navigatorlinkColor: #029aae;
$navigatorlinkColor: $backgroundheaderfooterColor;

//Error Message
$erroMsgColor: #ff0000e3;

//Feel colors
$negativeColor: $erroMsgColor;
$positiveColor: #008000;

//Borders
$darkBorder: #9c9db5;
$inputFieldBorder: #bdc1c6;
$rowBorderColor: #5f63684d;
$primaryBorderSuttle: #dee2e6;

$rowBorder: 1px solid $rowBorderColor;
$sideRowBorder: 0.75px solid #66cdd9;

//Btn Colors
$neutralBtnColor: #fff;
$neutralBtnColorHover: #f0f0f5;
$primaryBtnColor: $backgroundheaderfooterColor;
$primaryBtnColorHover: #029aae;

//Pagination colors
$paginationDigitNumber: $backgroundheaderfooterColor;
$paginationBorderColor: $backgroundheaderfooterColor;

//Common classes
.positionRelative {
    position: relative;
}

.center-position {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-Msg {
    color: #ff0000e3;
    font-size: 0.75rem;
    font-weight: 700;
}

.displayFlex {
    display: flex;
}

.noDisplay {
    display: none;
}

.noVisible {
    visibility: hidden;
}

.pointer {
    cursor: pointer;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.font400 {
    font-weight: 400;
}

.font600 {
    font-weight: 600;
}

.font500 {
    font-weight: 500;
}

.font700 {
    font-weight: 700;
}

.w-75 {
    width: 75%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.height1rem {
    height: 1rem;
}

.gap-8 {
    gap: 0.5rem;
}
