//@@@@@@@@@@colors@@@@@@@@@@@@@@@@@@@@@@@
$whiteColor: #fff;
$backCheckBoxColor: #01acc1;
$formBackgroundColor: #e5f6f8;

//Btn Colors
$neutralBtnColor: #fff;
$neutralBtnColorHover: #f0f0f5;
$primaryBtnColor: $backCheckBoxColor;
$primaryBtnColorHover: #029aae;

//Borders
$darkBorder: #9c9db5;

//Common classes
.positionRelative {
    position: relative;
}

.center-position {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textAlignCenter {
    text-align: center;
}

.error-Msg {
    color: #ff0000e3;
    font-size: 0.75rem;
    font-weight: 700;
}

.displayFlex {
    display: flex;
}

.noDisplay {
    display: none;
}

.noVisible {
    visibility: hidden;
}

.pointer {
    cursor: pointer;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.image-preview-container {
    width: 380px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid $darkBorder;
    border-radius: 3px;
    background-color: $whiteColor;
}

.image-preview-container img {
    max-width: 100%;
    max-height: 100%;
}

//Checkbox styling
.checkbox-container {
    padding-right: 2rem;
    position: relative;
    cursor: pointer;
    display: block;

    input[type='checkbox'] {
        visibility: hidden;
    }

    .checkbox {
        position: absolute;
        width: 1.3rem;
        height: 1.3rem;
        border: solid 1px;
        background-color: $whiteColor;
    }

    &:hover input:not(:disabled) ~ .checkbox {
        background-color: $primaryBtnColorHover;
    }

    input:checked ~ .checkbox {
        background-color: $backCheckBoxColor;
        border: solid 1.5px;
    }

    .checkbox::after {
        content: '';
        position: absolute;
        display: none;
        left: 6px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid $whiteColor;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    input:checked ~ .checkbox::after {
        display: block;
    }
}
